{% extends 'base-crud.html' %}
{% block title %} CRUD | Alterar Paciente {% endblock %}
{% load static %}
{% block content %}

    <h1 class="mt-5"> <i class="fa-solid fa-plus"></i>
    Alterar Paciente
    <i class="fa-solid fa-plus"></i>
    </h1>

<hr>
{% if error %}<p>{{ error }}</p>{% endif %}
<form action="{% url 'alterar_paciente' paciente.codigo_paciente %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 mb-3">
            <label for="nome" class="form-label">
                Nome do Paciente:
            </label>
            <input type="text" class="form-control" id="nome" name="nome" value="{{ paciente.nome }}" required>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 mb-3">
            <label for="cpf" class="form-label">
                CPF do Paciente:
            </label>
            <input type="text" class="form-control" id="cpf" name="cpf" value="{{ paciente.cpf }}" required maxlength="14">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 mb-3">
            <label for="email" class="form-label">
                Email do Paciente:
            </label>
            <input type="email" class="form-control" id="email" name="email" value="{{ paciente.email }}" required>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 mb-3">
            <label for="telefone" class="form-label">
                Telefone do Paciente:
            </label>
            <input type="text" class="form-control" id="telefone" name="telefone" value="{{ paciente.telefone }}" required>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 mb-3">
            <label for="data_nascimento" class="form-label">
                Data de Nascimento do Paciente:
            </label>
            <input type="date" class="form-control" id="data_nascimento" name="data_nascimento" value="{{ paciente.data_nascimento|date:'Y-m-d' }}" required>
        </div>
    </div>

    <div class="row">
        <div class="mt-4">
            <button type="submit" class="btn btn-primary"> 
                 <i class="fa-regular fa-floppy-disk"></i> Alterar
            </button>
            
             <a href="{% url 'index' %}" class="btn btn-secondary"> 
                <i class="fa-solid fa-house"></i> Voltar 
            </a>
        </div>
    </div>

</form>

<script src="{% static 'js/script.js' %}"></script>
{% endblock %}